<?xml version="1.0" encoding="utf-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/5.3/engine/Shopware/Components/Plugin/schema/config.xsd">
    <elements>
        <element type="text" scope="locale">
            <name>CoinGateCredentials</name>
            <label lang="en">API Auth Token</label>
        </element>
        <element type="select" scope="locale">
            <name>CoinGateEnvironment</name>
            <label lang="en">Environment</label>
            <value>live</value>
            <description>To test on https://sandbox.coingate.com - CoinGate Sandbox, choose Test Environment. Please note, that for Test Mode you must create a separate account on https://sandbox.coingate.com and generate API credentials there. API credentials generated on https://coingate.com are "Live" credentials and will not work for "Test" mode.</description>
            <store>
                <option>
                    <value>sandbox</value>
                    <label>Test Environment</label>
                </option>
                <option>
                    <value>live</value>
                    <label>Live environment</label>
                </option>
            </store>
        </element>
        <element type="select" scope="locale">
            <name>CoinGatePayout</name>
            <label lang="en">Payout Currency</label>
            <value>btc</value>
            <description>Choose the currency in which your payouts will be made (BTC, EUR or USD). For real-time EUR or USD settlements, you must verify as a merchant on CoinGate. Do not forget to add your Bitcoin address or bank details for payouts on your CoinGate account.</description>
            <store>
                <option>
                    <value>btc</value>
                    <label>Bitcoin ฿</label>
                </option>
                <option>
                    <value>usd</value>
                    <label>U.S. Dollars $</label>
                </option>
                <option>
                    <value>eur</value>
                    <label>Euro €</label>
                </option>
            </store>
        </element>
    </elements>
</config>
